{% extends "layout.html" %}

{% block body %}
<h3 class="my-3 total-value">
    <i class="bi bi-coin me-2"></i>
    Total Collection Value: ${{ '%.2f'|format(total_value) }}
</h3>
<div class="container">
    <div class="row">
        {% for game in games %}
        <div class="col-md-4 col-sm-6 col-12 mb-3">
            <div class="card custom-card d-flex flex-row align-items-center position-relative">
                <form method="post" action="/delete/{{ loop.index0 }}" class="delete-form" data-title="{{ game.title|e }}">
                    <button type="submit" class="btn btn-danger btn-sm delete-btn" title="Delete">&times;</button>
                </form>
                <div class="flex-grow-1">
                    <h5 class="card-title">{{ game.title }}</h5>
                    <p>Year: {{ game.year }}</p>
                    <p>Platform: {{ game.plat }}</p>
                    <p>Price: ${{ game.price }}</p>
                </div>
                <img src="{{ file_location }}/{{ game.image }}" class="img-fluid custom-image ms-3" alt="{{ game.title }}">
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}